soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  soap:Header
    nfeCabecMsg xmlns="#{url_xmlns}"
      cUF = ibge_uf
      versaoDados = '1.00'
  soap:Body
    nfeDistDFeInteresse xmlns="#{url_xmlns}"
      nfeDadosMsg
        = content_xml.html_safe